<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Logo</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="button_logout">
				<button class="btn btn-secondary" ng-click="logout()">
					<i class="fa fa-sign-out"></i>&nbsp; Sair</button>
			</li>
		</ul>
	</div>
</nav>


<section class="wrapper">
	<div class="row">
		<div class="col-sm-11 products">
			<div class="row">
				<h3 class="col-sm-6">Produtos</h3>
				<div class="col-sm-6 text-right">
					<button type="button" [routerLink]="['/product']" class="btn btn-secondary">Produto Novo</button>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Produto</th>
						<th class="text-center">Preço Custo</th>
						<th class="text-center">Preço Venda</th>
						<th class="text-center">Estoque</th>
						<th class="text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products">
						<td>{{product.id}}</td>
						<td>{{product.name}}</td>
						<td class="text-center">{{product.price_cost | currency: 'BRL': true}}</td>
						<td class="text-center">{{product.price_sale | currency: 'BRL': true}}</td>
						<td class="text-center">{{product.stock}}</td>
						<td class="text-center">
							<button type="button" *ngIf="product.active" (click)="edit(product)" class="btn btn-warning">
								<i class="fa fa-edit"></i>
							</button>
							<button type="button" *ngIf="product.active" (click)="remove(product)" class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</button>
							<button type="button" *ngIf="!product.active" (click)="active(product)" class="btn btn-dark">
								<i class="fa fa-check"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
 id="remove">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- dialog body -->
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Deseja remover o produto?</h4>
			</div>
			<!-- dialog buttons -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Não</button>
            	<button type="button" class="btn btn-success btn-lg" (click)="confirmRemove()">Sim</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
 id="active">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- dialog body -->
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Deseja ativar o produto?</h4>
			</div>
			<!-- dialog buttons -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Não</button>
            	<button type="button" class="btn btn-success btn-lg" (click)="confirmActive()">Sim</button>
			</div>
		</div>
	</div>
</div>