/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';

.container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.col-sm-12 {
    padding-right: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.home {
    margin-top: 50px;
    padding-left: 40px;
}

.home h1 {
    margin-bottom: 25px;
}

.home button i {
    display: block;
    font-size: 40px;
    margin-top: 10px;
}

.home button span {
    font-size: 25px;
    line-height: 55px;
}

.home .options {
    margin-top: 15px;
}

.history {
    margin-top: 40px;
    padding-left: 40px;
}

.history h1 {
    margin-bottom: 15px;
}

.history p {
    margin-left: 0;
    margin-right: 40px;
    font-size: 18px;
}

.history button {
    margin-bottom: 15px;
}

.gift {
    margin-top: 40px;
    padding-left: 40px;
}

.gift h1 {
    margin-bottom: 15px;
}

.gift button {
    margin-bottom: 15px;
}

.box {
    border: 1px solid #E5E5E5;
    background: #f5f5f5;
    margin: 5px 0;
}

.box img {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 10px;
    background-color: #fff;
}

.box .caption {
    border-top: 1px solid #E5E5E5;
    padding: 20px 15px;
}

.box .caption h4 {
    font-size: 18px;
    font-weight: 600;
    color: #e54c2a;
    margin: 0 0 10px;
    text-align: center;
}

.box .caption span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    height: 85px;
    text-align: center;
}

.box .caption p {
    font-size: 16px;
    font-weight: 600;
    color: #6c757d;
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 0;
    line-height: 20px;
}

.divider {
    position: relative;
}

.divider.style-1 {
    width: 90px;
}

.divider.style-1.center {
    margin: 10px auto 15px auto;
    padding-bottom: 1px;
}

.divider .hr-simple.left {
    left: 0;
}

.divider .hr-simple.right {
    right: 0;
}

.divider .hr-simple {
    position: absolute;
    height: 1px;
    width: 30px;
    background-color: #e54c2a;
}

.divider.center .hr-icon {
    right: 0;
    top: -2px;
}

.divider .hr-icon {
    position: absolute;
    font-size: 6px;
    top: -3px;
    left: 0;
    color: #e54c2a;
}

.menu {
    margin-top: 20px;
    margin-right: 0px;
}

.menu .minus-plus i {
    font-size: 28px;
}

.menu .minus-plus .fa-minus-circle {
    top: 3px;
    position: relative;
}

.menu h5 {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.shopping-cart {
    background-color: #e9ecef;
    position: fixed;
    right: 0;
    height: 100%;
    padding-top: 20px;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.shopping-cart .product:first-child {
    margin-top: 20px;
}

.shopping-cart .product {
    margin-right: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f4f4f4;
}

.shopping-cart i {
    font-size: 18px;
}

.shopping-cart button {
    margin-right: 40px;
    margin-left: 15px;
}

.shopping-cart .btn-back {
    margin-right: 15px;
}

.shopping-cart button:last-child {
    margin-top: 10px;
}

.shopping-cart .total {
    margin-right: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.shopping-cart .no-cart {
    margin-top: 20px;
}

.shopping-cart ul li {
    margin-top: 5px;
}

.danger {
    color: #dd4b39 !important;
    display: inline;
}

.success {
    color: #00a65a !important;
}

.image-top {
    margin-left: -30px;
}

.loading {
    opacity: 0.8;
    background-color: #000;
    -webkit-transition: background-color 1s ease-in;
    transition: background-color 1s ease-in;
    display: -webkit-box;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
}

.loading .info-box {
    position: relative;
    text-align: center;
    z-index: 2;
}

.loading .info-box span {
    font-size: 35px;
    line-height: 55px;
    text-align: center;
    -webkit-transition: color 1s ease-in;
    transition: color 1s ease-in;
    color: #fff;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 30px auto;
    margin-top: 0;
}
  
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
  
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
  
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
  
@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.login-container{
    max-width: 400px; 
    margin: 60px auto 0;
}

.navbar {
    margin-left: -15px;
    background-color: #e9ecef;
}

.table td {
    border-top: 1px solid rgba(52,58,64,.5);
}

.table th {
    border-top: none;
}

.panel-products {
    padding-left: 0;
    font-size: 18px;
}

.product ul {
    padding-left: 0;
}

.product li {
    list-style: none;
}

.btn-warning {
    color: #fff;
}

.red {
    background-color: rgba(220,53,69,.25);
}

.label-red {
    color: rgba(220,53,69,1);
}

.yellow {
    background-color: rgba(255,193,7,.25);
}

.blue {
    background-color: rgba(0,123,255,.25);
}

.label-blue {
    color: rgba(0,123,255,1);
}

.green {
    background-color: rgba(40,167,69,.25);
}

.label-green {
    color: rgba(40,167,69,1);
}

.purple {
    background-color: rgba(162,155,254,.25);
}

.grey {
    background-color: rgba(178,190,195,.25);
}

.list-tables {
    border-bottom: 2px solid #c3c3c3;
    position: fixed;
    top: 55px;
    z-index: 2;
    background-color: #fff;
}

.tables {
    border: 1px solid #e9ecef;
}

.tables>div {
    height: 100px;
}

.tables i {
    font-size: 25px;
    margin-top: 5px;
}

.tables span {
    font-size: 23px;
    line-height: 50px;
}

.details {
    padding: 20px;
    padding-right: 30px;
}

.last-orders {
    border-right: 1px solid #c3c3c3;
    padding: 20px;
}

.last-orders h4 {
    margin-bottom: 20px;
}

.last-orders > div {
    margin-right: -20px;
    margin-left: -20px;
}

.last-orders > div > div {
    height: 68px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,.075);
}

.last-orders > div > div > span {
    position: relative;
    top: 20px;
}

.last-orders > div > div > span > i {
    position: relative;
    top: 25px;
}

.last-orders i {
    margin-right: 10px;
}

.discount {
    display: inline-block;
    width: 150px;
    position: relative;
    top: 2px;
}

.table-panel {
    position: relative;
    top: 60px;
}

.table-details {
    width: 98%;
}

.label-discount {
    font-weight: bold;
}

.label-total {
    font-weight: bold;
}

.label-gift {
    margin-bottom: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 15px;
    width: 100%;
    z-index: 2;
}

.last-orders, .details {
    position: relative;
    top: 360px;
    z-index: 1;
}

.wrapper {
    height: 100vh;
}

.product {
    margin-top: 90px;
    margin-left: 20px;
}

.products {
    margin-top: 80px;
    margin-left: 30px;
}